/******************************************************************************
 * Scalable and Modular Architecture for CSS
 *
 * This is a demo project utilizing the smacss ideology. You can find out more
 *  about smacss by visiting: https://smacss.com/
 *
 * There are five types of categories:
 *  1. Base
 *  2. Layout
 *  3. Module
 *  4. State
 *  5. Theme
 *****************************************************************************/
/******************************************************************************
 * Globals
 *****************************************************************************/
/******************************************************************************
 * Base
 *
 * Base rules are the defaults. They are almost exclusively single element
 *  selectors but it could include attribute selectors, pseudo-class selectors,
 *  child selectors. Essentially, a base style says that wherever this element
 *  is on the page, it should look like this.
 *
 * Examples of Base Styles:
 *  html, body, form { margin: 0; padding: 0; }
 *  input[type=text] { border: 1px solid #999; }
 *  a { color: #039; }
 *  a:hover { color: #03C; }
 *****************************************************************************/
body {
  background: #f9f9f9;
  font-family: 'EB Garamond', serif; }

h1 {
  font-family: 'Quicksand', sans-serif; }

ul {
  padding-left: 0px; }

li {
  list-style-type: none;
  padding: 5px; }

.btn-primary {
  background-color: #2196F3;
  border-color: #2196F3; }

.fruits {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .fruits h4 {
    color: #f44336; }

.veggies {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .veggies h4 {
    color: #4caf50; }

.dairy {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .dairy h4 {
    color: #ff9800; }

.meat {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .meat h4 {
    color: #795548; }

.food_item_delete {
  color: #f44336;
  display: none;
  margin-left: 10px; }

.food_item_delete:hover {
  cursor: pointer; }

.food_item:hover {
  text-decoration: underline; }

.food_item:hover > .food_item_delete {
  display: inline-block; }

/******************************************************************************
 * Layout
 *
 * Layout rules divide the page into sections. Layouts hold one or more
 *  modules together.
 *
 * These rules are prefixed with lyt- for clarity.
 *****************************************************************************/
.row {
  margin-top: 20px;
  margin-bottom: 20px; }

.form-group {
  margin-bottom: 40px; }

/******************************************************************************
 * Module
 *
 * Modules are the reusable, modular parts of our design. They are the
 *  callouts, the sidebar sections, the products lists and so on.
 *****************************************************************************/
.has-error {
  border: 1px solid #f44336; }
