$bs-red: #d9534f;
$bs-offwhite: #f9f9f9;
$bs-lblue: #5bc0de;
$bs-green: #5cb85c;
$bs-blue: #428bca;

$brown-500: #795548;
$green-500: #4caf50;
$orange-500: #ff9800;
$red-500: #f44336;
$blue-500: #2196F3;
